{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Reservation app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <a href="{% url 'rooms:resource_list' %}" class="btn btn-primary">Lista</a>
      <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Dodaj
    </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'rooms:add_sport' %}">przestrzeń sport</a></li>
          <li><a class="dropdown-item" href="{% url 'rooms:add_office' %}">przestrzeń biurowa</a></li>
          <li><a class="dropdown-item" href="{% url 'rooms:add_event' %}">przestrzeń eventowa</a></li>
          <li><a class="dropdown-item" href="{% url 'rooms:add_beauty' %}">przestrzeń branży beauty</a></li>
          <li><a class="dropdown-item" href="{% url 'rooms:add_living' %}">przestrzeń mieszkalna</a></li>
        </ul>
      </div>
    </div>
    
      <span class="navbar-text">
            <p>Place to write</p>
      </span>
    </div>
  </div>
</nav>