{% extends 'base.html' %}
{% load static %}

{% block title %} List {% endblock %}

{%block container %}

{% for r in resources %}
<div class="card mb-3">
  <div style="position: relative;">
    <button type="button" class="btn-heart" data-id="{{ resource.pk }}" aria-label="Dodaj do ulubionych">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart favorite-icon" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
    </svg>
  </button> 

  {% if product.images.first %}
        <img src="/media/{{ product.images.first }}"  class="card-img-top" alt="{{ product.name }}">
    {% else %}
        <img src="{% static 'images/no_img.png' %}"  class="card-img-top" alt="{{ product.name }}">
    {% endif %}
</div>  
  <div class="card-body">
    <h5 class="card-title">{{r.name}}</h5>
    <p class="card-text">{{r.price_per_hour}}</p>
    <p class="card-text"><small class="text-body-secondary">{{r.updated_at}}</small></p>
    <a href="{% url 'rooms:resource_detail' r.pk %}" class="btn btn-primary">Szczegóły</a>
    {% if request.user == r.creator %}
      <a href="{% url 'rooms:delete' r.pk %}" class="btn btn-primary">Usuń</a>
      <a href="{% url 'rooms:edit_resource' r.pk %}" class="btn btn-primary">Edytuj</a>
    {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}